body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}
.glyphicon {
  cursor: pointer;
}
.glyphicon:active {
  color: blue;
}
hr {
  margin-top: 0px;
  margin-bottom: 0px;
}
